<div id="root" asp-prerender-module="ProductAttributesPage" asp-prerender-data="@Model">
</div>

<script>
    window.data = @Html.Raw(Json.Serialize(@Model));
</script>

@section MetaTags {
    <title>@MetaTagsService.GenerateTitle(this.GlobalLocalizer.GetString("ProductAttributes"))</title>
    @if (!string.IsNullOrWhiteSpace(this.GlobalLocalizer.GetString("ProductAttributes")))
    {
        <meta name="description" content="@this.GlobalLocalizer.GetString("ProductAttributes")" />
    }
}

@section HeadStyles {
    <link rel="stylesheet" href="~/dist/css/productattributespage.css" type="text/css" asp-append-version="true" />
}

@section BodyScripts {
    <script src="~/dist/js/productattributespage.js" asp-append-version="true"></script>
}