.order {
    &__items-subtitle {
        margin-bottom: 0.5rem !important;
    }

    &__items {
        border: 1px grey solid;
        border-radius: 4px;
    }

    &__basket-product-image {
        height: 100px;
        max-width: 250px;
    }
}
