.order {
    &__items-subtitle {
        margin-bottom: 0.5rem !important;
    }

    &__items {
        border: 1px grey solid;
        border-radius: 4px;

        .MuiInput-underline::before {
            border-bottom: 0;
        }
    }

    &__items-table{
        width: 100%;
    }

    &__basket-product-image {
        height: 100px;
        max-width: 250px;
    }

    &__clear-button {
        margin-left: 0.5rem !important;
    }
}