.outlet-modal {

    .modal-container {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    .field {
        margin: 1rem 0;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .quantities-container {
        display: flex;

        .field:not(:first-child) {
            margin-left: 2rem;
        }
    }
}

.modal {
    display: flex;
    visibility: hidden;

    .modal-background {
        transition: all $modal-fadeIn;
        opacity: 0;
    }

    &.is-active {
        visibility: visible;

        .modal-background {
            opacity: 1;
        }
    }

    .fade-In {
        .modal-content {
            transform: scale(0.7);
            opacity: 0;
            transition: all $modal-fadeIn;
        }
    
        &.is-active {
            .modal-content {
                transform: scale(1);
                opacity: 1;
            }
        }
    }
}