.quantity-input {
    margin-right: 15px !important;
    position: relative;

    input {
        width: 67px;
        height: 42px;
        line-height: 1.65;
        float: left;
        display: block;
        padding: 0;
        margin: 0;
        padding-left: 20px;
        border: none;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
        font-size: 1rem;
        border-radius: 4px;

        &:focus {
            outline: 0;
        }
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }

    &__buttons {
        background: red;
        float: left;
        position: relative;
        height: 42px;

        .input-up, .input-down {
            cursor: pointer;
            border: none;
            border-left: 1px solid rgba(0, 0, 0, 0.08);
            width: 21px;
            text-align: center;
            color: #333;
            line-height: 1.5;
            padding: 0;
            background: #FAFAFA;
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;

            &:active {
                background: #EAEAEA;
            }
        }

        .input-up {
            position: absolute;
            height: 50%;
            top: 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.08);
            border-radius: 0 4px 0 0;
        }

        .input-down {
            position: absolute;
            bottom: 0;
            height: 50%;
            border-radius: 0 0 4px 0;
        }
    }
}