@import "../Sidebar/Sidebar.scss";
@import "../Modal/Modal.scss";
@import "../Price/Price.scss";
@import "../Toast/ToastSuccessAddProductToBasket.scss";
@import "../Availability/Availability.scss";

.catalog {
    .catalog-item {
        .card-image-scale-down {
            object-fit: scale-down;
            padding: 0.75rem;
        }
        
        .media-content {
            padding: 1rem;
        }

        &__title a {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 1.25rem;
        }

        &__title a:hover {
            color: $primary;
        }

        &__brand-text {
            font-size: 0.9rem;
        }

        &__productAttributes, &__brand {
            a:hover {
                color: $primary;
            }
        }

        &__discount {
            position: absolute;
            top: 1rem;
            right: 0;
            z-index: 1;
            background: $greenonion;
            color: #ffffff;
            border-top-left-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
        }

        &__productAttributes {
            font-size: 0.750rem;
        }

        &__in-stock-details {
            margin-top: 0.5rem;

            .stock {
                color: $greenonion;
                font-weight: 600;
                font-size: 0.8rem;
            }

            .expected-delivery {
                color: $greenonion;
                font-weight: 600;
                font-size: 0.7rem;
            }
        }

        &__price {
            margin-top: 0.5rem;

            a {
                color: $primary;
            }
        }

        &__sku {
            font-size: 0.750rem;
        }

        &__add-to-cart-button-container {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 0 1rem 1rem 0.5rem;

            .row {
                display: flex;
            }

            .quantity-input{
                min-height: 2.625rem;
                width: 4rem;
                margin-right: 0.3125rem;
            }
        }
    }
}
