@import "../../../../../../shared/components/Files/Files.scss";

.dc-category {
    &__subcategory-link {
        background: $downloadCenter-tile-color;
        border-radius: 1rem;
        height: 9.375rem;
        width: 9.375rem;
        text-align: center;

        @media only screen and (max-width: $tablet) {
            height: 10rem;
            width: 10rem;
        }
    }

    &__files {
        margin-top: 3rem;
        overflow: hidden;

        &-list {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 0.5rem;
            margin-top: 1.5rem;

            @media only screen and (max-width: $tablet) {
                grid-template-columns: repeat(3, 1fr);
                gap: 1rem;
            }
        }

        @media only screen and (max-width: $tablet) {
            &-info {
                flex-direction: column;
            }
        }

    }

    &__file {
        max-width: 12.5rem;

        img {
            width: 100%;
            height: auto;
            border-radius: 8px;
        }
    }
}