@import "../../../../shared/components/Files/Files.scss";

.edit-order {

    &__items {
        border: 1px grey solid;
        border-radius: 4px;
        margin-top: 0.5rem;
    }

    &__item-product-image {
        height: 100px;
        max-width: 250px;
    }
}