// Update Bulma's global variables
$primary: #BF202F;
$link: #00171f;

// Update some of Bulma's component variables
$body-background-color: #ffffff;
$footer-background-color: #00171f;
$input-shadow: none;
$family-primary: 'Poppins', sans-serif;

// Custom variables
$white: #ffffff;
$swamp: #00171f;
$lightgrey: #e5e6e8;
$grey: #F5F5F5;