// Update Bulma's global variables
$primary: #E1001A;

// Update some of Bulma's component variables
$body-background-color: #ffffff;
$footer-background-color: #00171f;
$input-shadow: none;
$family-primary: 'Poppins', sans-serif;

// Custom variables
$white: #ffffff;