.main-nav {
    background-color: $swamp;
    height: 4rem;

    &__links-container {
        height: 100%;

        a {
            color: white;
            padding: 1rem;
        }

        a:hover {
            color: white;
            border: 1px solid white;
            padding: 0.5rem 1rem 0.5rem 1rem;
        }
    }
}
