.search {
    width: 25rem;
    margin-left: 2rem;
    height: 56px;

    @media only screen and (max-width: $tablet) {
        width: 15rem;

        .navbar-brand{
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}