.search {
    width: 25rem;
    margin-left: 2rem;
    height: 56px;
}

.count {
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    background: $primary;
    color: white;
    top: -0.5rem;
    right: -0.5rem;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.navbar-menu {
    display: flex;;
}

@media only screen and (max-width: $tablet) {
    .search {
        width: 15rem;
        margin-left: 0;
        align-items: center;
    }

    .navbar-brand{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .navbar-menu {
        flex-direction: column;

        .navbar-start {
            display: flex;
            justify-content: center;
        }

        .navbar-end {
            padding: 0 0.5rem;
            justify-content: space-between;
            display: flex;
        }
    }

    .welcome-text {
        display: none;
    }
}