@import "../Price/Price.scss";

.carousel-grid {
    background-color: $grey;
    padding-top: 0;

    .price {
        padding-top: 0.5rem;;
        padding-right: 0;
    }

    .price__container {
        justify-content: center;
    }

    &__item {
        background-color: white;
        margin-top: 2rem;
        padding: 2rem;
    }

    &__item:first-child {
        margin-top: 0;
    }

    .card {
        max-width: 280px;
        margin: 2rem;
    }

    &__data {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0.5rem 0;

        .data {
            font-size: 0.8rem;
            display: flex;
            align-items: center;

            svg {
                fill: $primary;
            }

            &:first-child {
                margin-right: 1rem;
            }

            .text {
                margin-left: 0.5rem;
            }
        }
    }

    .grid-description {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .card-image-scale-down {
        object-fit: scale-down;
        padding: 0.75rem;
    }
}
