// Update Bulma"s global variables
$primary: #1B5A6E;
$link: #00171f;

// Modal transitions
$modal-fadeIn: 300ms;

// Update some of Bulma"s component variables
$body-background-color: #fff;
$footer-background-color: #064254;
$footer-padding: 0;
$input-shadow: none;
$family-primary: "Nunito Sans", sans-serif;

// Custom variables
$white: #fff;
$swamp: #1B5A6E;
$primary500: #064254;
$lightgrey: #e5e6e8;
$grey: #f5f5f5;
$greenonion: #5BA21D;
$desertstorm: #f7f7f7;
$black-300: #7C8693;
$grey-300: #D5D7DB;
$grey-200: #EBECED;
$black-100: #F8F9FC;
$black-base: #171717;

// Fonts
$paragraph-2: normal 14px/24px Nunito,sans-serif;