@media only screen and (max-width: $tablet) {
    
    .navbar-brand {
        margin-top: 0.75rem;
    }

    .navbar-burger {
        width: 63px;
        height: 84px;
    }
}

.is-flex-wrap {
    flex-wrap: wrap;
}

.is-flex-centered {
    display: flex;
	align-items: center;
	justify-content: center;
}

.section-small-padding {
    padding: 1.5rem;
}

.is-modern-form {
    .title,
    .subtitle {
        margin-bottom: 2.5rem;
    }

    .field {
        margin-top: 0.5rem;

        @media only screen and (min-width: $desktop) {
            margin-top: 2rem;
        }
    }

    .field:last-child {
        margin-top: 0.5rem;

        @media only screen and (min-width: $desktop) {
            margin-top: 2.5rem;
        }
    }
}

.progressBar {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
}

.card-image {
    overflow: hidden;

    img {
        transition: 0.4s ease;
    }

    &:hover img {
        transform: scale(1.08);
    }
}

.is-grey-background {
    background-color: $grey;
}

.pb-0 {
    padding-bottom: 0;
}

.cookie-popup {
    padding: 24px;
    font-size: 16px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    display: flex;
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    color: rgb(255, 255, 255);
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 999999;
}

.cookie-popup a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.search__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 1rem;
    color: $blackbase;
    background: transparent;
    transition: border-color 0.2s;
}

.react-autosuggest__container {
    position: relative;
    width: 100%;
}

.react-autosuggest__input {
    width: 100%;
    height: 36px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
    
.react-autosuggest__input--focused {
    outline: none;
}

.react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container, .react-autosuggest__suggestions-container--open {
    position: absolute;
    top: 2rem;
    left: calc(-19px + -1.6rem);
    width: calc(100% + 40px + 19rem);
    max-height: 15rem;
    overflow: auto;
    overflow-x: hidden;
    margin-left: 1px;
    background-color: $white;
    border-radius: 0 0 4px 4px;
    z-index: 40;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.overlay {
    display: none;
}

.overlay.show {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100vw;
    height: calc(100vh - 2rem);
    background-color: rgba(0, 0, 0, 0.5);
}

.react-autosuggest__suggestions-container {
    padding: 1rem;
}

.react-autosuggest__suggestions-container--open {
    padding: 0.5rem;
}

@media only screen and (max-width: $desktop) {
    .react-autosuggest__suggestions-container, .react-autosuggest__suggestions-container--open {
        width: calc(100% + 24px + 8rem);
        left: calc(-1rem + -5px);
    }
}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    align-items: center;
    padding: 0.5rem;
    border-radius: 4px;
}

.react-autosuggest__suggestion--highlighted {
    background-color: $desertstorm;
}

img {
    object-fit: cover;
}

a,
a:hover {
    text-decoration: none;
}

header {
    position: relative;
    z-index: 45;
}

.logo {
    width: 12rem;
}

.no-scroll {
    position: fixed;
};