.main-nav {
    background-color: $white;
    height: 4rem;
    position: relative;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: $lightgrey;

    &__links-container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            color: $link;
            font-size: 0.85rem;
            padding: 1rem;
            align-items: center;
            border-bottom: 3px solid $white;
            border-top: 3px solid $white;

            &:hover {
                color: $swamp;
                border-bottom-color: $swamp;
            }
        }
    }
}

@media only screen and (max-width: $desktop) {
    .main-nav {
        display: none;
    }
}
