.catalog {

    @media only screen and (max-width: $tablet) {
        margin-top: 1.5rem;
    }

    &__search {
        margin: 3rem 0 3rem 0;

        button {
            margin-left: 1.5rem;
        }
    }

    &__table {
        th {
            font-weight: bold;
        }

        &__row {
            background-color: $white;
        }

        button {
            margin: 0.3rem;
        }

        .property-image {
            max-width: 200px;
        }
    }

    &__change-page-area {
        flex-basis: 40%;
        padding: 2rem;        
        margin: 1rem;
        border: 1px dashed $link;
        background-color: $grey;
        text-align: center;
        
        &:hover {
            background-color: $lightgrey;
        }

        &__disabled {
            pointer-events: none;
            opacity: 0.3;
        }
    }

    &__search-field {
        width: 40%;
    }

    &__pagination {
        margin: 1rem 0 3rem 0;
    }
}