// @import "@splidejs/react-splide/dist/css/splide.min";

.splide__list {
    max-width: 1180px;

    @media only screen and (max-width: 1260px) {
        max-width: 960px;
    }
}

.splide__arrow--next {
    margin-right: -3rem;
}

.splide__arrow--prev {
    margin-left: -3rem;
}

.menu-tiles {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    max-width: 1380px;
    position: relative;
    margin: 0 auto;

    &__prev,
    &__next {
        color: $primary;
    }

    &__next {
        inset: 50% 2rem auto auto;
    }

    &__prev {
        inset: 50% auto auto 2rem;
    }

    .tile {
        display: inline-block;
        margin-right: 1rem;
        margin-bottom: 1rem;
        width: 7.5rem;
        height: 7.5rem;
        box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
        transition: all 0.5s ease;
        transform: scale(1);
        min-width: 7.5rem;
    
        &:hover {
            cursor: pointer;
            transform: scale(1.15) perspective(1px);
        }
    
        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $swamp;
            height: 5rem;
        }
    
        &__title {
            color: $swamp;
            font-size: 0.8rem;
            text-align: center;
            padding: 0 0.3rem;
        }
    }
}