<div id="root" asp-prerender-module="ClientCountriesPage" asp-prerender-data="@Model">
</div>

<script>
    window.data = @Html.Raw(Json.Serialize(@Model));
</script>

@section MetaTags {
    <title>@MetaTagsService.GenerateTitle(this.Localizer.GetString("Countries"))</title>
    @if (!string.IsNullOrWhiteSpace(this.Localizer.GetString("Countries")))
    {
        <meta name="description" content="@this.Localizer.GetString("Countries")" />
    }
}

@section HeadStyles {
    <link rel="stylesheet" href="~/dist/css/clientcountriespage.css" type="text/css" asp-append-version="true" />
}

@section BodyScripts {
    <script src="~/dist/js/clientcountriespage.js" asp-append-version="true"></script>
}