.sidebar-list {
    width: 450px;
    padding: 0 !important;
    overflow: auto;

    &__headline {
        font-weight: bold;
        font-size: 1.3rem;
        margin: 10px 0;
    }

    &__info {
        background: $primary;
        min-height: 120px;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: flex-end;
        padding: 15px 30px;

        .title {
            font-weight: 600;
            color: white;
            font-size: 1.6rem;
        }

        .link {
            font-weight: 500;
            color: white;
            font-size: 0.8rem;
    
            &:hover{
                color: white;
                text-decoration: underline;
            }
        }
    }
    .not-found {
        font-size: 1rem;
        margin-top: 20px;
        text-align: center;
    }
}

.sidebar-item {
    padding: 15px 30px !important;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;

    &:hover &__buttons{
        display: flex;
    }

    &__buttons {
        display: none;
        position: absolute;
        right: 0;
        bottom: 0;

        .cart-button {
            padding: 2px;
            min-width: 0;

            &:first-child{
                margin-right: 5px;
            }
        }
    }

    .divider {
        margin-top: 10px;
        width: 80%;
        height: 1px;
        background: $primary;
    }

    &__row {
        width: 100%;
        display: flex;
        position: relative;
    }

    &__image {
        width: 140px;

        img {
            width: 100%;
            height: auto;
            border-radius: 2px;
        }
    }

    &__details {
        padding: 0 10px;
        display: flex;
        max-width: 250px;
        flex-direction: column;

        .sku {
            text-transform: uppercase;
            font-size: 0.7rem;
            margin-bottom: 10px;
        }

        .fabrics {
            font-size: 0.8rem;

            span {
                font-weight: 600;
            }

            p {
                font-size: 0.7rem;
            }
        }

        .title {
            margin: 0 !important;
            text-transform: uppercase;
            font-size: 1.1rem;
            font-weight: bold;
        }

        .link {
            font-weight: 500;
            font-size: 0.8rem;
    
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.sidebar-content {
    width: 450px;

    &__title {
        font-weight: 600;
        color: white;
        font-size: 1.6rem;
    }

    &__item {
        padding: 0 30px;
        margin: 0 auto;
    }

    &__item-content {
        padding: 10px 0;
        width: 100%;
        display: flex;
        position: relative;
        border-bottom: 1px solid $primary;

        .item-img {
            padding: 0 10px;
            max-width: 200px;

            img {
                width: 130px;
            }
        }

        .item-info {
            padding: 0 10px;
            width: 100%;

            .title {
                font-weight: bold;
                margin: 0;
                font-size: 1rem;
                text-transform: uppercase;
            }

            .description {
                font-size: 0.9rem;
                margin-bottom: 10px;
            }

            .link {
                font-size: 0.8rem;
                
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &:hover .cart-button {
            display: block;
        }

        .cart-button {
            display: none;
            border-radius: 5px;
            position: absolute;
            bottom: 15px;
            width: 30px;
            height: 30px;
            font-size: .5rem;
            right: 15px;
        }
    }

    &__item-info {
        width: 100%;
        height: 100%;
        padding: 0 10px;
    }

    &__basket {
        font-weight: 500;
        color: white;
        font-size: 0.8rem;

        &:hover{
            color: white;
            text-decoration: underline;
        }
    }

    &__close {
        width: 100%;
        height: 80px;
        background: $primary;
        position: static;
        display: flex;
        align-items: center;

        .icon {
            position: absolute;
            right: 15px;
            background: white;
            cursor: pointer;
            height: 40px;
            width: 40px;
            border-radius: 50%;
        }
    }
}

@media only screen and (max-width: $tablet) {
    .sidebar-content, .sidebar-list {
        width: 100%;
    }

    .sidebar-list {
        &__info {
            padding: 15px 15px
        }
    }

    .sidebar-item {
        padding: 15px 15px !important;
    }
}