<div id="root" asp-prerender-module="ClientNotificationTypesPage" asp-prerender-data="@Model">
</div>

<script>
    window.data = @Html.Raw(Json.Serialize(@Model));
</script>

@section MetaTags {
    <title>@MetaTagsService.GenerateTitle(this.clientLocalizer.GetString("NotificationTypes"))</title>
    @if (!string.IsNullOrWhiteSpace(this.clientLocalizer.GetString("NotificationTypes")))
    {
        <meta name="description" content="@this.clientLocalizer.GetString("NotificationTypes")" />
    }
}

@section HeadStyles {
    <link rel="stylesheet" href="~/dist/css/clientnotificationtypespage.css" type="text/css" asp-append-version="true" />
}

@section BodyScripts {
    <script src="~/dist/js/clientnotificationtypespage.js" asp-append-version="true"></script>
}