.hero-slider {
    background-color: $grey;
    width: 100%;
    max-height: 400px;
    padding-bottom: 3rem;

    .carousel .control-dots {
        margin: 30px 0;
    }

    .carousel .slide {
        background-color: transparent;
    }

    &__item {
        max-height: 400px;
        position: relative;
    }

    &__teaser {
        color: white;
        position: absolute;
        background-color: rgba(0, 23, 31, 0.7);
        border-radius: 1rem;
        padding: 2rem;
        top: 2rem;
        left: 2rem;

        @media only screen and (max-width: $tablet) {
            width: 300px;
        }
    }

    &__teaser-title {
        color: white;
        margin: 0.5rem;
        text-align: left;
    }

    &__teaser-text {
        margin: 0.5rem;
    }

    &__teaser-link {
        margin: 0.5rem;
    }
}
