@import "../../../../shared/components/CarouselGrid/CarouselGrid.scss";
@import "../../../../shared/components/Sidebar/Sidebar.scss";
@import "../../../../shared/components/Modal/Modal.scss";
@import "../../../../shared/components/Files/Files.scss";
@import "../../../../shared/components/Price/Price.scss";
@import "../ProductDetailModal/ProductDetailModal.scss";
@import "@splidejs/react-splide/css";
@import "../../../../shared/components/Price/Price.scss";
@import "../../../../shared/components/Toast/ToastSuccessAddProductToBasket.scss";
@import "../../../../shared/components/Availability/Availability.scss";
@import "../../../../shared/components/CopyButton/CopyButton.scss";

.product-detail {

    &__container {
        margin-top: 1rem;        
    }

    &__gallery-column {
        flex-basis: 62%;
    }

    &__desktop-gallery {
        display: none;
        padding: 0;           

        @media only screen and (min-width: $desktop) {
            display: block;                       
        }

        &__desktop-product-image {
            flex-basis: 48%;
            height: inherit;
            display: flex;
            align-items: center;

            &__single {
                flex-basis: 100%;
                padding-right: 1rem;

                img,
                video {
                    border-radius: 0.25rem;
                }
            }

            img,
            video {
                width: 100%;
                object-fit: cover;
                border-radius: 0.25rem;
                display: flex;
            }   
            
            &:hover {
                cursor: pointer;
            }
        }
    }

    &__mobile-gallery {         
        
        @media only screen and (min-width: $desktop) {                    
            display: none;            
        } 
        
        &__mobile-product-image {
            flex-basis: 100%;
            height: 100%;
            display: flex;            
    
            img,
            video {
                width: 100%;
                height: 100%;
                object-fit: scale-down;
                border-radius: 0.25rem;
            }
        }
    }

    &__more-product-images {                
        padding-top: 1.5rem;        
        color: $link;
    }

    &__description-column {
        flex-basis: 38%;
        padding-left: 0.75rem;

        @media only screen and (min-width: $desktop) {
            padding-left: 0.5rem;                   
        }
    }

    &__feature-title {
        font-size: 1.1rem;
        font-weight: bold;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    &__product-gallery {
        gap: 1rem;
    }

    &__discount {
        margin-top: 1rem;
        color: $greenonion;
        font-size: 1.1rem;
        font-weight: 600;
    }

    &__sku {
        font-size: 0.75rem;
    }

    &__ean {
        font-size: 0.75rem;
    }

    &__expected-delivery {
        font-size: 0.8rem;
    }

    &__restockable-in-days {
        font-size: 0.8rem;
    }

    &__head {
        min-height: 4rem;
        flex-direction: row;
        justify-content: space-between;
    }

    &__price {
        margin-top: 1rem;

        a {
            color: $primary;
        }
    }

    &__brand {
        a:hover {
            color: $primary;
        }
    }

    &__in-stock {
        margin-top: 1rem;
        color: $greenonion;
        font-size: 1.1rem;
        font-weight: 600;

        &:not(:first-child) {
            margin-top: 0;
        }
    }

    &__product-description {
        margin-bottom: 0.5rem;
    }

    &__add-to-cart-button {
        margin-top: 0.8rem !important;

        .quantity-input {
            min-height: 2.625rem;
            width: 4rem;
            margin-right: 0.3125rem;
        }

        .row {
            display: flex;
        }
    }

    &__product-information {
        margin-top: 1.5rem;

        h3 {
            font-weight: bold;
            font-size: 1.1rem;
        }

        dl {
            display: flex;
            flex-flow: wrap;
            border-top: 1px solid $swamp;
        }

        dt {
            padding: 1rem;
            background-color: $lightgrey;
            border-bottom: 1px solid $swamp;
            width: 50%;
        }

        dd {
            border-bottom: 1px solid $swamp;
            padding: 1rem;
            width: 50%;
        }
    }
}

.splide {    
    padding: 0;

    &__arrow {
        background-color: $white;
        opacity: 1;  
        -webkit-box-shadow: 4px 4px 10px -5px rgba(66, 68, 90, 1);
        -moz-box-shadow: 4px 4px 10px -5px rgba(66, 68, 90, 1);
        box-shadow: 4px 4px 10px -5px rgba(66, 68, 90, 1);      

        &:disabled {
            display: none;
        }

        @media only screen and (min-width: $tablet) {
            width: 2.5rem;
            height: 2.5rem;
        }

        @media only screen and (min-width: $desktop) {
            &--next {
                right: -3rem;
            }
    
            &--prev {
                left: -3rem;
            }
        }
    }
}