@import "../../../shared/components/UserPopup/UserPopup.scss";
@import "../../../shared/components/LanguageSwitcher/LanguageSwitcher.scss";
@import "../../../shared/components/Search/Search.scss";
@import "../../../shared/components/SidebarMobile/SidebarMobile.scss";

.navbar {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    z-index: 0;

    &__start {
        justify-content: left;

        &__logo {
            width: 8rem;
        }
    }

    &__actions {
        padding: 0 0 0 1rem;
        align-items: center;
        justify-content: right;

        &__cart {
            position: relative;
            margin: 0 1rem;

            &__count {
                padding: 0.1rem 0.4rem;
                position: absolute;
                background: $errorred;
                color: white;
                top: -0.5rem;
                right: -0.9rem;
                font-size: 0.7rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
            }
        }

        &__sidebar {
            display: none;
        }
    }
}

.search-button {
    max-height: 40px;
    margin-left: 0.5rem !important;
}

@media only screen and (max-width: $desktop) {

    .navbar {
        border-bottom: 1px solid $natuaralgrey300;

        &__actions {
            &__language {
                display: none;
            }
    
            &__userpopup {
                display: none;
            }

            &__sidebar {
                display: flex;
            }
        }
    }
}

@media only screen and (max-width: $tablet) {
    .navbar {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;

        &__start {
            justify-content: start;
        }

        &__search {
            grid-column-start: 1;
            grid-row-end: 3;
            grid-column: span 2
        }

        &__actions {
            grid-column-start: 2;
            margin: 1rem 0;
            justify-content: right;
        }
    }
}

