@import "../../../shared/components/UserPopup/UserPopup.scss";
@import "../../../shared/components/LanguageSwitcher/LanguageSwitcher.scss";
@import "../../../shared/components/SidebarMobile/SidebarMobile.scss";

.navbar {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    z-index: 0;

    &__start {
        justify-content: center;

        &__logo {
            width: 8rem;
        }
    }

    &__search {
        border: 1px solid $naturalgrey;
        outline: 1px solid $white;
        border-radius: 4px;
        align-items: center;

        &:focus-within {
            border-color: $blackbase;
            outline-color: $blackbase;
        }

        &__text {
            width: 100%;
            padding: 0.9rem;
            align-items: center;

            &__icon {
                padding-right: 0.7rem;
                font-size: 0.1rem;
            }

            &__input {
                width: 100%;
            }

            &__remove {
                margin-left: 1rem;
            }
        }

        &__area {
            min-width: 225px;
            border-left: 1px solid $naturalgrey;

            &__icon {
                padding: 0.3rem 1rem 0 1rem;
            }
        }
    }

    &__actions {
        padding: 0 0 0 1rem;
        align-items: center;

        &__cart {
            position: relative;
            margin: 0 1rem;

            &__count {
                padding: 0.1rem 0.4rem;
                position: absolute;
                background: $errorred;
                color: white;
                top: -0.7rem;
                right: -0.7rem;
                font-size: 0.7rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
            }
        }

        &__sidebar {
            display: none;
            margin-left: 1rem;
        }
    }
}

.MuiMenuItem-root {
    border-radius: 4px;

    &:hover {
        background-color: $desertstorm;
    }
}

.Mui-selected {
    background-color: $white !important;

    &:hover {
        background-color: $desertstorm !important;
    }
}

.MuiList-root {
    padding: 0.5rem;
}

.search-button {
    max-height: 40px;
    margin-left: 0.5rem !important;
}

@media only screen and (max-width: $desktop) {

    .navbar {
        &__search {
            &__area {
                min-width: 81px;
    
                &__select__text {
                    display: none;
                }
            }
        }
        
        &__actions {
            &__language {
                display: none;
            }
    
            &__userpopup {
                display: none;
            }

            &__sidebar {
                display: flex;
            }
        }
    }
}

@media only screen and (max-width: $tablet) {
    .navbar {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;

        &__start {
            justify-content: start;
        }

        &__search {
            grid-column-start: 1;
            grid-row-end: 3;
            grid-column: span 2
        }

        &__actions {
            grid-column-start: 2;
            margin: 1rem 0;
            justify-content: right;
        }
    }
}

.react-autosuggest__suggestions-container {
    z-index: 5;
}