.dashboard {
    &__container {
        height: 30rem;
        padding-bottom: 3rem;

        .sales-analytics,
        .country-sales {
            height: 100%;
        }
    }

    @media only screen and (max-width: $tablet) {
        
        &__container {
            height: 15rem;
        }
    }
}