.news-catalog {
    background-color: #f5f5f5;
    padding-top: 0;

    &__container {
        background: #fff;
        padding: 2rem;
    }

    &__item {

        .media-collapse {
            display: none;

            &.active {
                display: block;
            }
        }

        .data-text {
            margin-left: 0.5rem;
        }

        .media-description {
            margin-bottom: 0.5rem;
        }

        .media-read {
            font-weight: 600;
            cursor: pointer;
        }

        .media-data {
            display: flex;
            align-items: center;
            margin: 0.5rem 0;

            .data {
                font-size: 0.8rem;
                display: flex;
                align-items: center;

                svg {
                    fill: $primary;
                }
    
                &:first-child {
                    margin-right: 1rem;
                }
            }
        }
    }

    .card {
        box-shadow: none;
        padding: 1rem;
    }
}