.search {
    border: 1px solid $naturalgrey;
    outline: 1px solid $white;
    border-radius: 4px;
    align-items: center;
    width: 100%;

    &:focus-within {
        border-color: $blackbase;
        outline-color: $blackbase;
    }

    &__text {
        width: 100%;
        padding: 0.9rem;
        align-items: center;
        border-right: 1px solid $naturalgrey;

        &__icon {
            padding-right: 0.7rem;
            font-size: 0.1rem;
        }

        &__input {
            width: 100%;
        }

        &__remove {
            margin-left: 1rem;

            &__button {
                padding: 0;
                min-width: 24px;
            }
        }
    }

    &__area {
        min-width: 225px;

        &__icon {
            padding: 0.3rem 1rem 0 1rem;
        }

        &__mobile {
            display: none;
        }
    }
}

.sidebar {
    padding: 1rem;

    &__header {
        width: 100%;

        &__back {
            padding: 1rem 1rem 1rem 0;
        }

        &__areas {
            padding-top: 0.8rem;
            border-bottom: 1px solid $natuaralgrey200;

            &__button {
                border-radius: 0;
                font-family: $family-primary;
                color: $blackbase400;
                font-size: 14px;
                font-weight: 600;
            }
        }
    }

    &__suggestions {
        padding: 1rem 0;

        &__item {
            padding: 0.5rem 0;
        }
    }
}

.relative {
    position: relative;
}

.suggestion__icon {
    padding: 0.3rem 0.8rem 0 0.5rem;
}

.history {
    &__text {
        margin-right: 0.5rem;
    }
}

.MuiMenuItem-root {
    border-radius: 4px;

    &:hover {
        background-color: $desertstorm;
    }
}

.Mui-selected {
    background-color: $white !important;

    &:hover {
        background-color: $desertstorm !important;
    }
}

.MuiList-root {
    padding: 0.5rem !important;
}

.MuiPaper-root {
    margin-top: 2px;
}

.MuiPopover-paper {
    box-shadow: $box-shadow !important;
}

.MuiTabs-root {

    & button {

        &:hover {
            background-color: $white !important;
        }

        &.Mui-selected {
            color: $blackbase;
            border-bottom: 1px solid $blackbase500;
            background-color: $white;
        }
    }
}

.MuiTabs-indicator {
    display: none;
}

@media only screen and (max-width: $desktop) {
    .search {
        &__text {
            border-right: 0;

            &__icon {
                display: none;
            }
        }

        &__area {
            min-width: 81px;
            border-left: 1px solid $naturalgrey;

            &__desktop {
                display: none;
            }

            &__mobile {
                display: block;
            }
        }
    }
}

@media only screen and (min-width: $desktop) {
    .search {

        &__text {

            &:focus-within {
                border-right: 2px solid $blackbase;
            }
        }
    }
}